body, h1, div, p { margin: 0; padding: 0; }

body { padding: 20px; }
a { text-decoration: none; }

header { margin-bottom: 20px; }
h1 { color: #777; font-size: medium; letter-spacing: 10px; }

#screen { text-align: center; }

#prev, #next { font-size: 100px; }

footer { text-align: right; margin-top: 20px; font-size: small; }

